img:hover {filter: grayscale(100%);}


h2 {
   animation-duration: 5s;
   animation-name: aparecer;
}

@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 4;
   }
}

.facebook:hover{
  cursor: pointer;
  transform: translateY(-6px);
  transition: .3s ease;
}

.instagram:hover{
 cursor: pointer;
 transform: translateY(-6px);
 transition: .3s ease;
}

.spotify:hover{	
 cursor: pointer;
 transform: translateY(-6px);
 transition: .3s ease;

}

.youtube:hover{
 cursor: pointer;
 transform: translateY(-6px);
 transition: .3s ease;
}


.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}




.album{
  text-align:center;
  font-size:2em;
  color:rgb(233, 8, 8);
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px rgb(187, 50, 50),
      0px 0px 7px rgb(196, 185, 185);
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}


