@import "fuentes";
@import "variables";
@import "animaciones";


* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(../media/tunombre.jpg);
	background-size: cover;
	background-position-x: center;
	background-attachment:local;	
}

a{
	font-size: $font-size;
	font-family: $fuentes;
	color: $color-prinicipal;
	cursor: pointer;	
}

.navbar {
	text-shadow:  1px 1px rgb(168, 0, 0);
}

a:hover {
	color: rgb(184, 0, 0);;
	
}


@mixin titulo {
	color: $color-prinicipal;
	font-size: $font-size-titulos;
	text-align: center;
	font-family: $fuentes;
	margin-bottom: 80px;
	margin-top: 80px;
	
}

.tituloSecciones{
	@include  titulo; 
	
}

.parpadea{
	font-size: $font-size-parpadeo;
	color: red;
	font-family: $fuentes;
 }

.afiche{
	 width: 400px;
 }

 h3{
	font-size: $font-size;
	font-family: $fuentes;
	color: rgb(255, 250, 250);
	line-height: 1rem;
	text-shadow:  1px 1px rgb(168, 0, 0);

}
h6{	
	font-family: $fuentes;
	text-shadow:  2px 2px rgb(168, 0, 0);
	color: rgb(228, 222, 222);
}

h5, p{
	font-family: $fuentes;
	color: $color-afiche;
}




.card-img-top{
	border:2px solid white;
}




 .iframeDiscografia{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
 }


textarea{
	resize: none;	
}

#form34, #form29, #form8{
	border-color: red;
}




@media screen  and (max-width: 500px){
	.poster {
		margin-left: 15px;
	}
}

@media screen  and (max-width: 767px){
	
	header, footer{
		padding-right: 10px;
		padding-left: 10px;

	}

	.videos{
		margin-right: -15px;
	}

	#youtube{
		margin-bottom: 50px;
	}
    body{
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}
}

@media screen  and (max-width: 768px){
	body{
		background-repeat: repeat;
		background-size: cover;
		background-attachment: fixed;
}
}

@media screen  and (max-width: 1024px){
	
	header, main, footer, .discos{
		padding-right: 10px;
		padding-left: 10px;

	}
	body{
		background-repeat: no-repeat;
	}

}
	

@media screen  and  (min-width: 1200px) { 

h3{
	font-size: 1.5rem;
}

h2, h5{
	font-size: 2rem;
}

a{
	font-size: 2.5rem;
}

p{
	font-size: 1.5rem;
}

body{
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}
}